<header></header>
<div class="body">  
    <div class="card">
        <div class="card-top">
            <img *ngIf="usuario.roles[0] == 'STUDENT'" src="https://cdn-icons-png.flaticon.com/512/5850/5850276.png" alt="Foto de perfil" class="card-image">
            <img *ngIf="usuario.roles[0] == 'CLASSROOM_GUARD'" src="https://static.vecteezy.com/system/resources/previews/007/468/567/original/colorful-simple-flat-of-security-guard-icon-or-symbol-people-concept-illustration-vector.jpg" alt="Foto de perfil" class="card-image">
            <img *ngIf="usuario.roles[0] == 'CORRECTOR'" src="https://cdn-icons-png.flaticon.com/512/5488/5488920.png" alt="Foto de perfil" class="card-image">
            <img *ngIf="usuario.roles[0] == 'HEADQUARTER_MANAGER'" src="https://cdn-icons-png.flaticon.com/512/610/610120.png" alt="Foto de perfil" class="card-image">
            <img *ngIf="usuario.roles[0] == 'CLASSROOM_MANAGER'" src="https://cdn-icons-png.flaticon.com/512/610/610120.png" alt="Foto de perfil" class="card-image">
            <img *ngIf="usuario.roles[0] == 'VICE_RECTORATE'" src="https://cdn-icons-png.flaticon.com/512/610/610120.png" alt="Foto de perfil" class="card-image">
            <img *ngIf="!usuario.roles[0]" src="https://static.thenounproject.com/png/994628-200.png" alt="Foto de perfil" class="card-image">

            <div class="card-title">
                <h1 class="card-name">{{usuario.firstName + ' ' + usuario.lastName}}</h1>
                <p class="card-id">{{usuario.id}}</p>
            </div>
        </div>
        <div class="card-content">
        <p class="card-email"><b>Dirección de correo:</b> {{usuario.email}}</p>
        <p *ngIf="!(usuario.roles.length == 0)" class="card-password"><b>Roles: </b></p>
        <p *ngIf="(usuario.roles.length == 0)" class="card-password"><b>Este usuario no tiene roles asignados.</b></p>
        <ul class="card-roles">
            <li *ngFor="let rol of usuario.roles">{{getUserRole(rol)}}</li>
        </ul>
        </div>
    
    <div class="botones">
        <button type="button" class="btn btn-primary" (click)="router.navigate(['./users/edit/', usuario.id])"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
          </svg>
          Editar
        </button>
      </div>
    </div>
    <button type="button" class="btn btn-secondary" (click)="router.navigate(['./users'])">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"></path>
      </svg>
      Volver
    </button>
    
</div>